3-RubanovaValeria-D20/
*.db
3-RubanovaValeria-H50/
*.opendb
*.vcxproj
*.filters
*.user
*.sln
3-RubanovaValeria-I10/.vs/3-RubanovaValeria-I10/v15/.suo
*.obj
*.tlog
*.idb
*.log
*.pdb
*.ilk
*.lib
*.exe
*.ipch
