3-RubanovaValeria-I10/
3-RubanovaValeria-H50/
3-RubanovaValeria-D20/
*.user
*.filters
*.vcxproj
*.opendb
*.db
*.sln
*.tlog
*.ilk
*.pdb
*.idb
*.ipch
3-RubanovaValeria-J22/.vs/3-RubanovaValeria-J22/v15/.suo
*.log
*.obj
*.exe
